# Environment Variables Configuration
# Salin file ini menjadi .env dan sesuaikan jika diperlukan

# MySQL Database Configuration
MYSQL_ROOT_PASSWORD=mlops_root_pass
MYSQL_DATABASE=aqi_prediction_db
MYSQL_USER=aqi_user
MYSQL_PASSWORD=aqi_secure_password
MYSQL_HOST=mysql_db
MYSQL_PORT=3306

# Host port mapping (untuk akses dari luar container seperti Astro Airflow / Local Python)
MYSQL_LOCAL_PORT=3306

# Streamlit Port
STREAMLIT_PORT=8501

# Model Version Tag
MODEL_VERSION=v1.0.0-xgb
