# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment Variables
.env

# Virtual Environments
.venv/
env/
venv/
ENV/

# Editor & IDE
.vscode/
.idea/

# Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Log files
*.log
